
<!DOCTYPE html>
<html>    <head>  <title>Edit Page</title>   </head>
<body>
  <h1>Edit Page</h1>    <hr>
  <form method="post">
    <fieldset>
      <legend>Edit Data</legend>
      <table>
        <tr>  <td><label>상품번호</label></td>
                <td><input type="text" name="id" value="<%= data.PRODUCT_NUMBER %>" disabled /></td>
        </tr>
        <tr>  <td><label>상품명</label></td>
                <td><input type="text" name="name" value="<%= data.PRODUCT_NAME %>" /></td>
        </tr>
        <tr>  <td><label>상품 이미지</label></td>
          <td><img style="width: 200px; height: 200px;" name="image" src="/<%= data.PRODUCT_IMG %>" />
            </td>
        </tr>
      
        <tr>  <td><label>상품 카테고리</label></td>
                <td><input type="text" name="modelnumber" value="<%= data.PRODUCT_CATEGORY %>" /></td>
        </tr>
        <tr>  <td><label>상품 설명</label></td>
                <td><input type="text" name="series" value="<%= data.PRODUCT_INFO %>" /></td>
        </tr>
      </table>
      <input type="submit" />
    </fieldset>
  </form>
</body>
</html>